html{
    scroll-behavior: smooth !important;
}
body{
	font-family: calibri;
}
#home {
	padding-top:180px !important;
}
.header-bg-custom{
	background-image:linear-gradient(to right,#07233B, #040C16);
	
}
.header-icon-bg-custom{
	background-color: #0788FF;
}
.header-nav-custom{
	font-size: 15px;
	font-weight: bold;
}
.header-nav-custom .overlay{
	top: 0;
	bottom: 0;
	left: 0;
	width: 0%;
	transition: 0.5s;
}
.header-nav-custom:hover .overlay,
.header-nav-custom.active .overlay{
	width: 100%;
	border-bottom: 2px solid white;
}
.talkBtn{
	transition: 0.5s;
}
.talkBtn a:hover{
	background-color: #040C16;
	border:2px solid white;
	color:white !important;
}
.home-bg-custom{
	background-image: linear-gradient(to right,#07233B, #040C16);
}
.home .home-icons{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border:1px solid white;
	transition: 0.5s;
}
.home .home-icons:hover{
	margin-top: -10px;
}
.fancy-border-radius {
	border-radius: 87% 13% 91% 9% / 38% 56% 44% 62%;
	/*border-radius: 46% 54% 67% 33% / 83% 67% 33% 17%;*/

	/* These are ADDITIONAL styles - add them if you want an object exactly like in the demo above */
	width: 100%;
	height: 90%;
	background: #ad5389;
	background: -webkit-linear-gradient(to right,
		#3c1053,
		#ad5389);
	background: linear-gradient(to right,
		#3c1053,
		#ad5389);
}
.brand-bg-custom{
	background-image: linear-gradient(to right,#072D4F,#05192E);
}
.about-bg-custom{
	background-image:linear-gradient(to right,#07233B, #040C16);
}
.about-count .count-item{
	width: 110px;
	height: 110px;
	background-color: #112436;
	border:0.5px solid gray;
	border-radius: 5px;
} 
.project-bg-custom{
	background-image: linear-gradient(to right,#072D4F,#05192E);
}
.card-icon{
	display: block;
	width:45px; 
	height:45px; 
	line-height:45px; 
	background-color: #1877F2;
	border: 1px solid black;
	border-radius: 50%;
	text-align: center;
	transition: 0.5s;
}
.card-icon:hover{
	background-color:#040C16;
}
.card .project-img,
.card .card-overlays{
	transition: 0.5s;
}
.card:hover .project-img{
	transform: scale(1.1);
}
.card:hover .card-overlays{
	display: flex !important;
}
.service-bg-custom{
	background-image: linear-gradient(to right,#07233B,#050D17);
}

.services .overlay{
	background-image:linear-gradient(to bottom,transparent, rgba(0,0,0,0.9));
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.Experience-bg-custom{
	background-image: linear-gradient(to right,#072D4F,#051A2F);
}
.Experience-row-bg-custom{
	background-image: linear-gradient(to right,#063660,#052645);
	border-radius: 10px;
}
.testimonial-bg-custom{
	background-image: linear-gradient(to right,#07233A,#040C16);
}
.footer-bg-custom{
	background-image: linear-gradient(to right,#07233A,#040C16);
}
.footer .home-icons{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border:1px solid white;
	transition: 0.5s;
}
.footer .home-icons:hover{
	margin-top: -10px;
}
.footer .form-control{
	color: white !important;
}

@media only screen and (max-width: 992px) {
	#home {
		padding-top: 100px !important;
	}
	#home .row.justify-content-between{
		justify-content: space-around !important;
	}
	#home .col-lg-6{
		order: 2 !important;
		margin-top: -15% !important;
	}
	#home .col-lg-4{
		order: 1 !important;
	}
	#home .fancy-border-radius{
		height: 80%;
	}
	#home .fancy-border-radius img{
		clip-path: inset(0% 0% 20% 0%);
	}
	#about .about-effect2{
		right: 0% !important;
	}
	
}
@media only screen and (max-width: 767.5px) {
	#services .card-img img{
		display: none;
	}
	#services .col-lg-3:nth-child(1) .card-img{background-image: url('./images/service-01.jpg');background-repeat: no-repeat; background-size: cover; background-position: center;}
	#services .col-lg-3:nth-child(2) .card-img{background-image: url('./images/service-02.jpg');background-repeat: no-repeat; background-size: cover; background-position: center;}
	#services .col-lg-3:nth-child(3) .card-img{background-image: url('./images/service-03.jpg');background-repeat: no-repeat; background-size: cover; background-position: center;}
	#services .col-lg-3:nth-child(4) .card-img{background-image: url('./images/service-04.jpg');background-repeat: no-repeat; background-size: cover; background-position: center;}
	
}